<form id="loginForm" class="w-50 mx-auto" method="POST" action="{% url 'login' %}">
    {% csrf_token %}
    <div class="mb-3">
        <label for="username" class="form-label">Nombre de Usuario</label>
        <input type="text" class="form-control" id="username" name="username" required>
        <div class="invalid-feedback">
            Por favor ingresa tu nombre de usuario.
        </div>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="password" name="password" required>
        <div class="invalid-feedback">
            Por favor ingresa tu contraseña.
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
    <button type="reset" class="btn btn-secondary">Limpiar</button>
</form>
